h1 {
  font: 30px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

.bar {
  fill: #3fde8f;
  transition: 0.5s;
}

.bar:hover {
  fill: #3fdede;
  transition: 0.5s;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
